<!DOCTYPE>
<html>
    <!-- https://ithelp.ithome.com.tw/articles/10213663 -->
    <!-- 指令 Directives    v-*     -->
    <!-- 修飾符 modifier 
                事件修飾符   @click.capture由上往下 , 
                            @click.self觸發在自己元素身上的時候才會去執行 
                按鍵修飾符   @keyup.enter
                系統修飾符   @keyup.enter.shift
    -->

    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <style>
        .box{
            width:100px;
            height:100px;
            background-color:lightblue;
        }
        .rotate{
            transform:rotate(45deg);
        }
    </style>
    <body>
        <!-- 被指定喧染位置 -->
        <div id="app">
            <div>{{ message }}</div>
            <div v-if='text1'>這段文字會顯示</div>
            <div v-if='text2'>這段文字不會顯示</div>
            <div>
              <ul>
                <li v-for="(person,index) in students" :key="person.id">
                  第{{ index }}筆資料，姓名：{{ person.name }}，年齡：{{ person.age }}
                </li>
              </ul>
            </div>
            <div><input type="text" v-model="message2"></div>
            <div><button type="button" v-on:click="handleOnClick">Click Me!</button></div>
            <div>
                <div class="box" v-bind:class="{'rotate':isRotate}"><div>
                <button type="button" v-on:click="isRotate = !isRotate"> Rotate the box</button>
            </div>
            <div>
                <p>今晚晚餐吃這個：<input v-model="question"></p>
                <p>{{ answer }}</p>
            </div>
        </div>
        <script>
            // 生成Vue元件,進行頁面喧染
            var vm = new Vue({
                el:'#app',
                data:{
                    message:'Hello, Vue.js!',
                    text1:true,
                    text2:false,
                    students:[
                        {
                            id:'001',
                            name:'小明',
                            age:12
                        },
                        {
                            id:'002',
                            name:'小美',
                            age:10
                        },
                        {
                            id:'003',
                            name:'小華',
                            age:11
                        },
                    ],
                    message2:'我會顯示在input中',
                    isRotate: false,
                    question:'',
                    answer:'讓我來幫你決定要吃什麼吧！'
                },
                methods:{
                    handleOnClick : function(){
                        alert('Hello Vue!')
                    },
                    getAnswer:function(){
                        var self = this
                        fetch('https://yesno.wtf/api')
                        .then(res=>res.json())
                        .then(res=>{self.answer = res.answer})
                    }
                },
                watch:{
                    question : function(){
                        this.getAnswer()
                    }
                }
            })
        </script>
    </body>
</html>