<!DOCTYPE>
<html>
    <!-- https://ithelp.ithome.com.tw/articles/10214359 -->
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <style>
    </style>
    <body>
        <!-- 被指定喧染位置 -->
        <div id="app">
            {{ message }}
        <div>
        <script>
            // 生成Vue元件,進行頁面喧染
            let vm = new Vue({
                    el:'#app',
                    data:{
                        message:'get Data!',
                    },
                    methods:{
                        handleOnClick: function(){
                            alert(this.message)
                        }
                    },
                    beforeCreate: function(){
                        alert('beforeCreate')
                        alert("el屬性： "+this.$el)
                        alert("data資料： "+this.$data.message)
                    },
                    created: function(){
                        alert('created')
                        alert("el屬性： "+this.$el)
                        alert("data資料： "+this.$data.message)
                    },
                    beforeMount: function(){
                        alert('beforeMount')
                        alert("el屬性： "+this.$el)
                    },
                    mounted: function(){
                        alert('mounted')
                        alert("el屬性： "+this.$el)
                    }
                })
        </script>
    </body>
</html>