<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <!-- VUE hello HelloWorld範例 -->
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <!-- 傳遞資料給子元件 -->
    <PropsDEMO :json="this.json"/>
    <!-- 使用Vuex Store取得資料 -->
    <VuexDEMO />
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import PropsDEMO from './components/PropsDEMO.vue'
import VuexDEMO from './components/VuexDEMO.vue'

export default {
  name: 'App',
  components: {
    HelloWorld,
    PropsDEMO,
    VuexDEMO
  },
  data() {
    return {
      json: [
        {
          irontitle: "第 11 屆 iT 邦幫忙鐵人賽",
          articles: [
            {
              type: "Modern Web",
              title:
                "「小孩才做選擇，我全都要。」小白也能輕鬆瞭解的 Vue.js 與 D3.js 。",
              href: "https://ithelp.ithome.com.tw/users/20119062/ironman/2242",
              info: {
                success: true,
                count: 32,
                subscribe: 39
              }
            }
          ]
        },
        {
          irontitle: "2019 邦幫忙鐵人賽",
          articles: [
            {
              type: "自我挑戰",
              title: "挑戰連續三十天喝不同家手搖飲。",
              href: "",
              info: {
                success: false,
                count: 29,
                subscribe: 512
              }
            },
            {
              type: "自我挑戰",
              title: "連續三十天發廢文。",
              href: "",
              info: {
                success: true,
                count: 999,
                subscribe: 87
              }
            }
          ]
        }
      ]
    };
  },
  created(){
    this.$store.dispatch('getIronmanData')
  },
  computed:{
    ironmanData(){
      return this.$store.state.ironmanData
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
