*{
    box-sizing: border-box;
}
html,body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
  background:#F2F2F2;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  margin: 0;
}
.page {
  max-width: 1140px;
  width: 100%;
  margin: 48px auto 0;
}